body {
  background: #f0f2f5;
  font-family: Arial;
}

.box {
  background: white;
  width: 350px;
  margin: 120px auto;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #1877f2;
  color: white;
  border: none;
  font-size: 16px;
}

.logo {
  color: #1877f2;
  font-size: 40px;
}
